@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');



body {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* For the a link in the navbar  */

a {
  text-decoration: none;
  color: black;
}




